body {
    font-family: Source Sans Pro;
}

/* Header
    ========= */
.header {
    background-image: url('./images/pic_1.jpg');
    background-repeat: no-repeat;
    background-color: #071629;
    padding: 20px;
}

.header-title {
    margin-top: 10rem;
}

@media all and (max-width: 768px) {
    .header, .header-2 {
        background-position: 40% 0%;
        padding: 20px 4%;
    }   
}

@media all and (max-width: 576px) {
    .header, .header-2 {
        background-position: 54% 0%;
        padding: 20px 4%;
    }   
    .header-title .title h1 {
        font-size: 4rem;
    }
}
/* logo
    ============== */

@media all and (max-width: 576px) {
    .navbar-brand {
        margin-right: 35%;
    }
    
    .navbar-brand img{

        display: block;
        margin: auto;
        flex-basis: 100%;
    }

}
/*  Navbar
    ==============*/
nav li,
.style-letter {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.style-letter {
    font-size: 1rem;
}

.list-menu {
    justify-content: flex-end;
}

/* button
    ============= */

.badge-purple {
    background-color: #C271FF;
}

.badge-purple:hover {
    opacity: 0.9;
}

p.feature {
    line-height: 34px;
}


.mt-8 {
    margin-top: 8rem;
}

.header-title .purple,
.purple {
    color: #C271FF;
}

/* carrusel
    ========= */

.style-blockquote {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
}

.style-video {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(7, 22, 41, 0.501584);
}

@media all and (max-width: 576px) { 
    .people .carousel-control-next,
    .people .carousel-control-prev {
        align-items: flex-start;
    }
}

/* Smile Section
    ============*/

.w-smile {
    width: 200px;
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.85;
}

/* Pricing Page
    ==============*/

.header-2 {
    background-image: url('./images/pic_2.jpg');
    background-repeat: no-repeat;
    background-color:#071629;
}

/* button price
    ===============*/
.box {
    width: 162px;
}

hr {
    opacity: 0.2;
}